
header { 

margin-top:-90px;
color:white;
margin-left:205px;
}
header ul li { 
margin-left:200px;
list-style-type:none;
text-align:center;
float:left;
font-size:18px;	
width:120px;
margin:0px;
padding:0px;
}
header ul li a{
text-decoration:none;
text-align:center;
	padding:20px;
	width:70px;
	display:block;
	color:white;
	margin:auto;
	margin-top:10px;
	margin-right:25px;
	border:1px solid #000;
	background:#000;
}
header ul li a:hover{
	text-decoration:none;
	color:white;
	border:1px solid #D60919;
	background:#D60919;
	width:70px; 
}
.ustserit{ 

color:white;
background:#D60919;
width:100%;
height:40px;
}
.logo{
margin-left:20px;
background:#D60919;
width:210px;
height:130px;
cursor:pointer;
}
.slider{
 

margin-top:150px;
margin-left:80px;
margin-right:80px;
}
input {
outline: none;
}
input[type=search] {
-webkit-appearance: textfield;
-webkit-box-sizing: content-box;
font-family: inherit;
font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
display: none; 
}
input:-moz-placeholder {
color: #999;
}
input::-webkit-input-placeholder {
color: #999;
}
input[type=search] {
border: solid 2px #000;
padding: 9px 10px 9px 32px;
width: 90px;
-webkit-border-radius: 10em;
-moz-border-radius: 10em;
border-radius: 10em;
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
}
input[type=search]:focus {
width: 150px; 
 background-color: #fff;
border-color:#000;
-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
box-shadow: 0 0 5px rgba(109,207,246,.5);

}
 #sonuc  {
 position:absolute;
 z-index:10000;
 border:1px solid #000;
 border-radius:5px;
color:black;
width:200px;
	
	font-size:15px;
    margin-top:80px;
	background:#ddd;
	float:right;
	right:40px;
	
} 





.facebook{border:1px solid #000;
position:absolute;
float:left;
margin-top:-130px;
margin-right:140px;
right:15px;
}
.facebook:hover{
cursor:pointer;
width:32px;
background-color:#3b5998;
height:35px;
color:white;
border:1px solid #3b5998;
}
.twitter{float:left;
border:1px solid #000;
position:absolute;
margin-top:-130px;
margin-right:120px;
right:1px;}
.twitter:hover{
cursor:pointer;
width:32px;
background-color:#00a0d1;
height:35px;
color:white;
border:1px solid #00a0d1;
}
.Instagram{float:left;
position:absolute;
margin-top:-130px;
margin-right:120px;
right:-33px;
border:1px solid #000;
}
.Instagram:hover{
cursor:pointer;
width:32px;
background-color:#cd486b;
height:35px;
color:white;
border:1px solid #cd486b;}
.google{
position:absolute;
margin-top:-130px;
margin-right:120px;
right:-67px;
border:1px solid #000;

}
.google:hover{
cursor:pointer;
width:32px;
background-color:#DD4B39;
height:35px;
color:white;
border:1px solid #DD4B39;}
.youtube{
position:absolute;
margin-top:-130px;
margin-right:120px;
right:-102px;
border:1px solid #000;
width:35px;
}
.youtube:hover{
cursor:pointer;
width:35px;
background-color:#c4302b;
height:35px;
color:white;
border:1px solid #c4302b;}

footer{ 
  margin-top:200px;
height:50px;
background:black;
width:100%;
 text-align:center;
}
.footer{position:absolute;
left :300px;
  
}
.footer ul li{
 float:left;
font-size:15px;}
.footer ul li a{ 
text-decoration:none;
display:block;
padding-left:20px;
padding-right:20px;
padding-top:3px;
color:white;
}
.footer ul li a:hover{
color:#D60919;
}
.footer p{position:absolute;
margin-top:15px;
margin-left:-200px;
color:white;}
.kckhaber { 
	height:400px;
	
}
.siyaset {
	float:left;
	width:500px;
	margin-left:-10px;
}
.siyaset  h2 {
	font-weight:bold;
	font-size:20px;
	padding:0px;
	margin-bottom:0px;
	color:black;
	text-decoration:none}
.siyaset img {cursor:pointer;
	float:left;
	padding:3px;
}
.siyaset p{ 
 padding:-7px;
}
.ekonomi{
	float:right;
	width:500px;
	margin-top:-400px;
margin-right:-10px;
}
.ekonomi  h2 {
	font-weight:bold;
	font-size:20px;
	padding:0px;
	margin-bottom:0px;
	color:black;
	text-decoration:none}
.ekonomi img {cursor:pointer;
	float:left;
	padding:3px;
}
.ekonomi p{ 
 padding:-7px;
}
.spor {
	float:left;
	width:500px;
	margin-top:-207px;
	margin-left: 68px;
}
.spor  h2 {margin-top:22px;
	font-weight:bold;
	font-size:20px;
	padding:0px;
	margin-bottom:0px;
	color:black;
	text-decoration:none}
.spor img {cursor:pointer;
	float:left;
	padding:3px;
}
.spor p{ 
 padding:-5px;}
.magazin {
	float:right;
	width:500px;
	margin-top:-210px;
	margin-right:67px;
}
.magazin  h2 { margin-top:22px;
	font-weight:bold;
	font-size:20px;
	padding:0px;
	margin-bottom:0px;
	color:black;
	text-decoration:none;}
.magazin img {cursor:pointer;
	float:left;
	padding:3px;
}
.magazin p{ 
 padding:-5px;
}

.konular2{  float:left;
width:217px;
margin-left:35px;
}
.konular2 img{
cursor:pointer;
margin-bottom:0px;}
.konular2 a p{padding:0px;

margin-top:0px;}
.konular2    a{
 text-decoration:none;
 color:black;
 font-weight:bold;
font-size:15px;}
.konular2 a p:hover{
 text-decoration:none;
color:#D60919;}

.althaber2{ float:left;

width:217px;
  	
	 margin-left:37px;	
}
.althaber2 img{margin-top:0px;
cursor:pointer;
margin:0px;
margin-bottom:0px;}
.althaber2 a p{padding:0px;
margin-left:0px;
margin-top:0px;}
.althaber2    a{
 text-decoration:none;
 color:black;
 font-weight:bold;
font-size:15px;}
.althaber2 a p:hover{
 text-decoration:none;
color:#D60919;}

.althaber3{  float:left;
width:217px;
    margin-bottom:0px;	
	 margin-left:37px;
}
.althaber3 img{margin-top:0px;
cursor:pointer;
margin:0px;
margin-bottom:0px;}
.althaber3 a p{padding:0px;
margin-left:0px;
margin-top:0px;}
.althaber3   a{
 text-decoration:none;
 color:black;
 font-weight:bold;
font-size:15px;}
.althaber3 a p:hover{
 text-decoration:none;
color:#D60919;}

.althaber4{  float:left;
width:217px;
    margin-bottom:0px;	
	  margin-left:37px;
}
.althaber4 img{margin-top:0px;
cursor:pointer;
margin:0px;
margin-bottom:0px;}
.althaber4 a p{padding:0px;
margin-left:0px;
margin-top:0px;}
.althaber4   a{
 text-decoration:none;
 color:black;
 font-weight:bold;
font-size:15px;}
.althaber4 a p:hover{
 text-decoration:none;
color:#D60919;}

.althaber5{  float:left;
width:217px;
    margin-bottom:0px;	
	 margin-left:37px;
}
.althaber5 img{margin-top:0px;
cursor:pointer;
margin:0px;
margin-bottom:0px;}
.althaber5 a p{padding:0px;
margin-left:0px;
margin-top:0px;}
.althaber5   a{
 text-decoration:none;
 color:black;
 font-weight:bold;
font-size:15px;}
.althaber5 a p:hover{
 text-decoration:none;
color:#D60919;}



.baslik span{color:#D60919; font-size:17px;}
.konular a{color:#D60919;}
.konular2 a{  text-decoration:none; color:black;}